{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static "style/base.css" %}" />
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
            integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=" crossorigin="anonymous"></script>
    <title>{% block title %}Bookworm{% endblock %}</title>
</head>

<body>

{% block header %}

<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <a class="navbar-brand" href="/bookworm/home/">Bookworm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault"
          aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" href="/bookworm/search/">Search<span class="sr-only">(current)</span></a>
        </li>
    </ul>
    <ul class="navbar-nav">
        {% if user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" href="#">{{ user.username }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'logout' %}?next={{request.path}}">Logout</a>
            </li>
        {% else %}
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}?next={{request.path}}">Login</a>
            </li>
        {% endif %}
    </ul>
  </div>
</nav>

{% endblock %}

<main id="content" class="container mt-3" style="padding:5em 0 0 0">
    {% block content %}
        {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
        <h3> Your reviews </h3>
            {% for review in reviews %}
                <div class="col">
                    <div class="row">
                        <h5> <a class="nav-link" href="/bookworm?book={{ review.book.id }}"> {{ review.book.title }} </a> </h5>
                        <h5> {{ review.score }}/10 </h5>
                    </div>
                    <div style="padding: 0 0 0 1em">
                        <h5><strong> {{ review.title }} </strong></h5>
                        <p> {{ review.text }} </p>
                        <a class="nav-link" href="/bookworm"> Modify review (TODO) </a>
                        <a class="nav-link" href="/bookworm"> Remove review (TODO) </a>
                    </div>
                </div>
            {% empty %}
                <h5> You have placed no reviews </h5>
            {% endfor %}
        <h3> Your genres </h3>
        <a class="nav-link" href="/bookworm/add/genre/">Create genre</a>
            {% for genre in genres %}
                <div class="col">
                    <h5> {{ genre.name }} </h5>
                    <p style="padding: 0 0 0 1em"> {{ genre.description }} </p>
                </div>
            {% empty %}
                <h5> You have created no genres. </h5>
            {% endfor %}
        
        
    {% endblock %}
</main>

<div id="footer" class="footer">
    {% block footer %}
        
    {% endblock %}
</div>

<!-- Bootstrap JavaScripts -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>