{% extends "books/base.html" %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block content %}

    <form method="post" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form|crispy }}
        <div class="form-group" style="padding: 1em 0 0 0">
            <button type="submit" class="btn btn-success" value="{{request.path}}">Submit</button>
            <a class="btn btn-danger" href="{{ request.META.HTTP_REFERER }}">Cancel</a>
        </div>
    </form>

    <script src="{% static "js/autocomplete.js" %}"></script>

{% endblock %}