{% extends "books/base.html" %}

{% block content %}

    <h2> Query results </h2>
    <div style="padding: 0 0 0 2em">
        {% for book, votes in result.items %}
            <div class="col" style="padding: 0 0 2em 0">
                <div class="row">
                    <h4> <a class="nav-link" href="/bookworm/book/{{ book.id }}/" style="padding: 0 0 0 0"> {{ book.title }} </a></h4>
                    <h4>,</h4>
                    <div class="row">
                        <p style="padding: 0.3em 0 0 1.5em"> By </p>
                        <a class="nav-link" href="/bookworm/author/{{ book.author.id }}/" style="padding: 0.3em 0 0 0.5em"> {{ book.author }} </a>
                    </div>
                </div>
                {% if votes.1 %}
                    <div class="row">
                        <h5> ({{ votes.1.series.name }} #{{ votes.1.number }})  </h5>
                    </div>
                {% endif %}
                <div class="row">
                    <p> Points: {{ book.valoration.0 }}/10.0 ({{ book.valoration.1 }} reviews)</p>
                    <a class="nav-link" href="/bookworm/book/{{ book.id }}/review/" style="padding: 0 0 0 1em"> See reviews </a>
                    {% if user.is_authenticated %}    
                        <a class="nav-link" href="/bookworm/book/{{ book.id }}/review/add/" style="padding: 0 0 0 1em"> Add review </a>
                    {% endif %}
                </div>
                <h6> Genres: </h6>
                <div class="col">
                    {% for genre in votes.0 %} 
                        <div class="row">
                            <a href="" title="{{ genre.1.description }}" style="padding: 0 0 0 1em"> {{ genre.1.unicode }} </a> 
                            <p style="padding: 0 2em 0 2em"> {{ genre.0 }} votes&nbsp;&nbsp; </p>
                            {% if user.is_authenticated %}
                                <form action="/bookworm/book/{{ book.id }}/vote/{{ genre.1.id }}/" method="post" value="{{ next }}">
                                    {% csrf_token %}
                                    {% if genre.2 %}
                                        <input type="submit" value="Devote" style="background-color: #FF3A3A" />
                                    {% else %}
                                        <input type="submit" value="Vote" style="background-color: #17ED00" />
                                    {% endif %}
                                    <input type="hidden" name="next" value="{{ next }}" />
                                </form>
                            {% endif %}
                        </div>
                    {% empty %}
                        <p> No genres voted for this book. </p>
                    {% endfor %}
                </div>
                {% if user.is_authenticated %}
                    <a class="nav-link" href="/bookworm/book/{{ book.id }}/vote/?next={{ next }}"> Vote/Devote other genres </a>
                {% endif %}
                {% if book.editor.name or book.pub_date or book.language %}
                    <div class="col">
                        <p> First publication info: </p>
                        {% if book.editor.name %}
                            <p> &emsp; - Editor: {{ book.editor.name }}</p>
                        {% endif %}
                        {% if book.pub_date %}
                            <p> &emsp; - Date: {{ book.pub_date }}</p>
                        {% endif %}
                        {% if book.language %}
                            <p> &emsp; - Language: {{ book.language }}</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        {% empty %}
            <p> Your search issued no results </p>
        {% endfor %}
    </div>

{% endblock %}